<div class="row display">
 <div class="small-6 columns">

<p id="notice"><%= notice %></p>

<p>
  <b>Фамилия:</b>
  <%= @staff.lname %>
</p>

<p>
  <b>Имя:</b>
  <%= @staff.fname %>
</p>

<p>
  <b>Отчество:</b>
  <%= @staff.mname %>
</p>

<p>
  <b>Должность:</b>
  <%= @staff.position %>
</p>

<p>
  <b>Дата рождения:</b>
  <%= @staff.birthday %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>

</div>
 <div class="small-6 columns">
<%= render 'workobject' %>
</div>
</div>
