<h1>Список задач</h1>

<table>
  <tr>
    <th>Описание</th>
    <th>Объект</th>
    <th>Исполнитель</th>
    <th>Начало</th>
    <th>Окончание</th>
    <th>% Выполнения</th>
    <th>Статус</th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.description, task %></td>
    <td><%= link_to Workobject.find(task.workobject_id).fulladdr, workobject_path(task.workobject_id) unless task.workobject_id.nil? %></td>
    <td><%= Staff.find(task.staff_id).fullname unless task.staff_id.nil? %></td>
    <td><%= task.sdate %></td>
    <td><%= task.edate %></td>
    <td><%= task.progress %></td>
    <td><%= task_status_hash[task.state] %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить задачу', new_task_path %>
