<h1>Список объектов</h1>

<% if flash[:error] %>
    <div id="error_explanation"><h2><%= flash[:error] %></h2></div>
<% end %>

<table>
  <tr>
    <th>№№</th>
    <th>Название</th>
    <th>Город</th>
    <th>Адрес</th>
    <th>Регион</th>
    <th>Ответственный</th>
    <th></th>
    <th></th>
  </tr>

<% @workobjects.each do |workobject| %>
  <tr class="<%= cycle :odd, :even %>">
    <td><%= workobject.id %></td>
    <td><%= link_to workobject.name, workobject %></td>
    <td><%= workobject.city %></td>
    <td><%= workobject.address %></td>
    <td><%= workobject.region %></td>
    <td><%= Staff.find(workobject.staff_id).lname %></td>
    <td><%= link_to 'Edit', edit_workobject_path(workobject) %></td>
    <td><%= link_to 'Destroy', workobject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить объект', new_workobject_path %>
